################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Ovule/obj/Debug
/src/Ovule.Email/obj/Debug
/src/Ovule.Nomad/obj/Debug
/src/Ovule.Nomad.Client/obj/Debug
/src/Ovule.Nomad.Client.Email/obj/Debug
/src/Ovule.Nomad.Processor/bin/Debug
/src/Ovule.Nomad.Processor/obj/Debug
/src/Ovule.Nomad.Processor.Gui/bin/Debug
/src/Ovule.Nomad.Processor.Gui/obj/Debug
/src/Ovule.Nomad.Server/obj/Debug
/src/Ovule.Nomad.Server.Email/obj/Debug
/src/Ovule.Nomad.Server.Stock/bin/Debug
/src/Ovule.Nomad.Server.Stock/obj/Debug
/src/Ovule.Nomad.Wcf/obj/Debug
/src/Ovule/bin/Debug
/src/Ovule.Email/bin/Debug
/src/Ovule.Nomad/bin/Debug
/src/Ovule.Nomad.Client/bin/Debug
/src/Ovule.Nomad.Client.Email/bin/Debug
/src/Ovule.Nomad.Server/bin/Debug
/src/Ovule.Nomad.Server.Email/bin/Debug
/src/Ovule.Nomad.Wcf/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Args/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Args/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Chain/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Chain/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.HelloWorld/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.HelloWorld/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.MemberVariables/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.MemberVariables/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.NomadType/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.NomadType/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Thread/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Thread/obj/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Client/bin/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Client/obj/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Entity/bin/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Entity/obj/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Server/bin/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Server/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Chat/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Chat/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Serialisation.KnownTypes/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Serialisation/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Serialisation/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Serialisation.KnownTypes/bin/Debug
/src/Test.Ovule/bin/Debug
/src/Test.Ovule/obj/Debug
/src/Test.Ovule.Email/bin/Debug
/src/Test.Ovule.Email/obj/Debug
/src/Test.Ovule.Nomad/bin/Debug
/src/Test.Ovule.Nomad/obj/Debug
/src/Test.Ovule.Nomad.Client/bin/Debug
/src/Test.Ovule.Nomad.Client/obj/Debug
/src/Test.Ovule.Nomad.Client.Email/bin/Debug
/src/Test.Ovule.Nomad.Client.Email/obj/Debug
/src/Test.Ovule.Nomad.Processor/bin/Debug
/src/Test.Ovule.Nomad.Processor/obj/Debug
/src/Test.Ovule.Nomad.Server/bin/Debug
/src/Test.Ovule.Nomad.Server/obj/Debug
/src/Test.Ovule.Nomad.Server.Email/bin/Debug
/src/Test.Ovule.Nomad.Server.Email/obj/Debug
/src/Test.Ovule.Nomad.Wcf/bin/Debug
/src/Test.Ovule.Nomad.Wcf/obj/Debug
*.user
