################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Ovule/obj/Debug
/src/Ovule.Email/obj/Debug
/src/Ovule.Nomad/obj/Debug
/src/Ovule.Nomad.Client/obj/Debug
/src/Ovule.Nomad.Client.Email/obj/Debug
/src/Ovule.Nomad.Processor/bin/Debug
/src/Ovule.Nomad.Processor/obj/Debug
/src/Ovule.Nomad.Processor.Gui/bin/Debug
/src/Ovule.Nomad.Processor.Gui/obj/Debug
/src/Ovule.Nomad.Server/obj/Debug
/src/Ovule.Nomad.Server.Email/obj/Debug
/src/Ovule.Nomad.Server.Stock/bin/Debug
/src/Ovule.Nomad.Server.Stock/obj/Debug
/src/Ovule.Nomad.Wcf/obj/Debug
/src/Ovule/bin/Debug
/src/Ovule.Email/bin/Debug
/src/Ovule.Nomad/bin/Debug
/src/Ovule.Nomad.Client/bin/Debug
/src/Ovule.Nomad.Client.Email/bin/Debug
/src/Ovule.Nomad.Server/bin/Debug
/src/Ovule.Nomad.Server.Email/bin/Debug
/src/Ovule.Nomad.Wcf/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Args/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Args/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Chain/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Chain/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.HelloWorld/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.HelloWorld/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.MemberVariables/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.MemberVariables/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.NomadType/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.NomadType/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Thread/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Thread/obj/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Client/bin/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Client/obj/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Entity/bin/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Entity/obj/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Server/bin/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Server/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Chat/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Chat/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Serialisation.KnownTypes/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Serialisation/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Serialisation/bin/Debug
/src/Samples/Ovule.Nomad.Sample.Basic.Serialisation.KnownTypes/bin/Debug
/src/Test.Ovule/bin/Debug
/src/Test.Ovule/obj/Debug
/src/Test.Ovule.Email/bin/Debug
/src/Test.Ovule.Email/obj/Debug
/src/Test.Ovule.Nomad/bin/Debug
/src/Test.Ovule.Nomad/obj/Debug
/src/Test.Ovule.Nomad.Client/bin/Debug
/src/Test.Ovule.Nomad.Client/obj/Debug
/src/Test.Ovule.Nomad.Client.Email/bin/Debug
/src/Test.Ovule.Nomad.Client.Email/obj/Debug
/src/Test.Ovule.Nomad.Processor/bin/Debug
/src/Test.Ovule.Nomad.Processor/obj/Debug
/src/Test.Ovule.Nomad.Server/bin/Debug
/src/Test.Ovule.Nomad.Server/obj/Debug
/src/Test.Ovule.Nomad.Server.Email/bin/Debug
/src/Test.Ovule.Nomad.Server.Email/obj/Debug
/src/Test.Ovule.Nomad.Wcf/bin/Debug
/src/Test.Ovule.Nomad.Wcf/obj/Debug
*.user
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Data/bin/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Data/obj/Debug
/src/Samples/Ovule.Nomad.Sample.Chat/bin/Chat2
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Business/bin/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Business/obj/Debug
/src/Ovule/obj/Release
/src/Ovule.Email/obj/Release
/src/Ovule.Nomad/obj/Release
/src/Ovule.Nomad.Client/obj/Release
/src/Ovule.Nomad.Client.Email/obj/Release
/src/Ovule.Nomad.Discovery/obj
/src/Ovule.Nomad.Discovery/bin/Debug
/src/Ovule.Nomad.Wcf/obj/Release
/src/Ovule.Nomad.Processor/obj/Release
/src/Ovule.Nomad.Processor.Gui/obj/Release
/src/Ovule.Nomad.Server/obj/Release
/src/Ovule.Nomad.Server.Email/obj/Release
/src/Ovule.Nomad.Server.Stock/bin/Release
/src/Samples/Ovule.Nomad.Sample.API.Basic.Args/bin/Debug
/src/Samples/Ovule.Nomad.Sample.API.Basic.Args/obj
/src/Samples/Ovule.Nomad.Sample.API.Basic.Chain/bin/Debug
/src/Samples/Ovule.Nomad.Sample.API.Basic.Chain/obj
/src/Samples/Ovule.Nomad.Sample.API.Basic.HelloWorld/bin/Debug
/src/Samples/Ovule.Nomad.Sample.API.Basic.HelloWorld/obj
/src/Samples/Ovule.Nomad.Sample.API.Basic.MemberVariables/bin/Debug
/src/Samples/Ovule.Nomad.Sample.API.Basic.MemberVariables/obj
/src/Samples/Ovule.Nomad.Sample.API.Chat/bin/Debug
/src/Samples/Ovule.Nomad.Sample.API.Chat/obj
/src/Samples/Ovule.Nomad.Sample.MapReduce.API.Proto/obj/Debug
/src/Samples/Ovule.Nomad.Sample.MapReduce.API.Proto/obj/Release
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.API.Client/obj
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Business/obj/Release
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Data/obj/Release
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.Entity/obj/Release
/src/Test.Ovule/obj/Release
/src/Test.Ovule.Email/obj/Release
/src/Test.Ovule.Nomad/obj/Release
/src/Test.Ovule.Nomad.Client/obj/Release
/src/Test.Ovule.Nomad.Client.Email/obj/Release
/src/Test.Ovule.Nomad.Processor/obj/Release
/src/Test.Ovule.Nomad.Server/obj/Release
/src/Test.Ovule.Nomad.Server.Email/obj/Release
/src/Test.Ovule.Nomad.Wcf/obj/Release
/src/Samples/Ovule.Nomad.Sample.MapReduce.API.Proto/bin/Debug
/src/Samples/Ovule.Nomad.Sample.SemiRealistic.API.Client/bin/Debug
/src/Samples/Ovule.Nomad.Sample.API.BasicLoadDistribution/bin/Debug
/src/Samples/Ovule.Nomad.Sample.API.BasicLoadDistribution/obj/Debug
/src/Ovule.Nomad.Sample.API.NetPerformance.Client/bin/Debug
/src/Ovule.Nomad.Sample.API.NetPerformance.Shared/bin/Debug
/src/Ovule.Nomad.Sample.API.NetPerformance.Shared/obj/Debug
/src/Ovule.Nomad.Sample.API.NetPerformance.Client/obj/Debug
/src/Samples/Ovule.Nomad.Sample.API.NetPerformance.Server/bin/Debug
/src/Samples/Ovule.Nomad.Sample.API.NetPerformance.Server/obj/Debug
/src/Samples/Ovule.Nomad.Sample.API.NetPerformance.Client/bin/Debug
/src/Samples/Ovule.Nomad.Sample.API.NetPerformance.Client/obj/Debug
/src/Samples/Ovule.Nomad.Sample.API.NetPerformance.Shared/bin/Debug
/src/Samples/Ovule.Nomad.Sample.API.NetPerformance.Shared/obj/Debug
/src/Samples/BasicFailover/bin/Debug
/src/Samples/BasicRetry/bin/Debug
/src/Samples/BasicFailover/obj/Debug
/src/Samples/BasicRetry/obj/Debug
/src/Ovule.Nomad.Server.Stock/bin/2
/src/Ovule.Nomad.Server.Stock/bin
/src/Samples/Ovule.Nomad.Sample.MapReduce.API.Pi/bin/Debug
/src/Samples/Ovule.Nomad.Sample.MapReduce.API.Pi/obj/Debug
